


.img {
    font-weight: 400;
    line-height: 1.6;
    color: #666;
    text-align: left;
    hyphens: manual;
    display: block;
    box-sizing: border-box;
    position: relative;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

}

/*.content {*/
/*    grid-area: c;*/
/*    background-color: darkgreen;*/
/*}*/

