.nav {
   background: #121b1f;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #666;
    text-align: left;
    box-sizing: border-box;
    display: block;

}
