
.li a {
    color: #6c757d;
    line-height: 1.6;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    display: table;
    white-space: nowrap;
    transition: all .2s ease 0s;
    position: relative;
    margin: 0;
    padding: 8px 0;
}

.li a.activeLi {
    color: gold;
}